ul{
    width:400px;
    height: 400px;
    margin: 50px auto;
    padding: 0;
    list-style: none;
    border-right: 1px dashed #ccc;
    border-left: 1px dashed #ccc;
}

li {
    float: left;
    width: 30%;
    margin-right: 5%;
    box-sizing: border-box;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-family: "Tahoma", sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

li:nth-child(3n) {
    margin-right:0;
    background-color: #5EB95E;
    color: white;
}